<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '519273571566121',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v2.9'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<div class="row text-center header-bar">
    <img style="height: 40px; margin: 10px;" src="http://digisafe.ais.co.th/digisafe/images/logo-ais-W.png"/>
    <div class="row" id="fb-result">
        <div id="fb-profile" class="col-md-4">
            <img id="fb-profile-pic" src="http://graph.facebook.com/10153875516363234/picture?type=large" style="
    border-radius: 150px;
    width: 144px;
    border: 4px solid rgba(255,255,255,1);
    display: inline-block;
">
            <div style="
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
">
                <p id="fb-name">Art Kraisingkorn</p>
                <p id="fb-age">Age: N/A</p>
                <p id="fb-gender" style="text-transform:capitalize;">Gender: N/A</p>
            </div>
        </div>

        <div class="pi-container col-md-8" style="">
            <div class="pi-inner-container" style="">
                <div class="fb-personality"><p id="chart-Adventurousness-title">Adventurousness</p>
                    <div id="chart-Adventurousness" class="chart" data-percent="0">
                        <span id="chart-Adventurousness-pct" class="percent">99</span>
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                    </div>
                </div>
                <div class="fb-personality"><p id="chart-Artistic-title">Artistic</p>
                    <div id="chart-Artistic" class="chart" data-percent="0">
                        <span id="chart-Artistic-pct" class="percent">66</span>
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                    </div>
                </div>
                <div class="fb-personality"><p id="chart-Achievement-title">Achievement-Striving</p>
                    <div id="chart-Achievement" class="chart" data-percent="0">
                        <span id="chart-Achievement-pct" class="percent">87</span>
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                    </div>
                </div>
                <div class="fb-personality"><p id="chart-Orderliness-title">Orderliness</p>
                    <div id="chart-Orderliness" class="chart" data-percent="0">
                        <span id="chart-Orderliness-pct" class="percent">64</span>
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                    </div>
                </div>
                <div class="fb-personality"><p id="chart-Neuroticism-title">Emotional</p>
                    <div id="chart-Neuroticism" class="chart" data-percent="0">
                        <span id="chart-Neuroticism-pct" class="percent">68</span>
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="165" width="165" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                        <!--<canvas height="220" width="220" style="height: 110px; width: 110px;"></canvas>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="" id = "fb-content">
    <div class="container">
        <div class="top-negative-buffer"></div>
        <div class="row main-container text-center">
            <div id="social-login" class="col-md-4 col-md-offset-4">
                <div class='row'>
                    <img id="matcher-icon" src="https://digital.ais.co.th/file/image/Recommended%20APPS/AisPlay.png"/>
                    <h3 id="matcher-label">Match your movie!</h3>
                </div>
                <div class='row top-buffer'></div>
                <div class='row'>
                    <button id="fb-login" onclick="onFbClicked()">
                        Analyze with Facebook
                    </button>
                </div>
            </div>
        </div>
        <div class="row main-container text-center">
            <div class="col-md-12 text-center">

                <img id="fb-loading" src="images/loading.gif"/>
            </div>
        </div>
        <div class="row main-container text-center">
            <div class="col-md-12 text-center" id = "movie-container">

                <img id="movie-poster" src="images/posters/keanu.jpg" style="">
                <a type="button" class="btn btn-lg btn-info" id = "movie-btn" target = "_blank"></a>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="/javascripts/jquery.easypiechart.min.js"></script>

<script type="text/javascript">
    $(function () {
        $(function () {
            //create instance
            $('.chart').easyPieChart({
                animate: {
                    duration: 1000,
                    enabled: true
                },
                barColor:"#a7ec39"
            });
        });
    });
//    randomBackground();
</script>